.wrapper {
    display: -moz-grid;
    display: -ms-grid;
    display: grid;

    grid-template-areas: "header header header" 
                         "main aside aside";
    
    
    header {
        grid-area: header;
    }
    
    main {
        grid-area: main;
        box-sizing: border-box;
    }

    aside {
        box-sizing: border-box;
        grid-area: aside;
        width: 100%;
    }

    $break-small: 768px;
    $break-large: 1200px;

    @media screen and (max-width: $break-small) {
        grid-template-areas: "header header header" 
                             "main main main"
                             "aside aside aside";
    }

}